<header>
    <h1>#T_A_D_D_Y</h1>
    <ul class="navlist">
        <li><a href="">Home</a></li>
        <li><a routerLink="/bill">BIILS</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">About</a></li>
    </ul>
    <div class="icon">
        <i class="fa fa-bars" aria-hidden="true" id="bar"></i>
    </div>
</header>
<section class="home">
    <div class="home-text">
        <h1>A new way to experience food</h1>
        <h3>Good food, Good life.</h3>
        <a routerLink="/order" class="button-17">Take-Order</a>
    </div>
    <div class="img">
        <img src="assets\images.jpeg" alt="">
    </div>
</section>


